on property:sys.post_boot.parsed=1
   chown system system /dev/stune/top-app/schedtune.boost
   chown system system /dev/cpu_dma_latency
   chown system system /sys/devices/soc/soc:qcom,cpubw/devfreq/soc:qcom,cpubw/min_freq
   chown system system /sys/class/kgsl/kgsl-3d0/devfreq/min_freq
   chown system system /sys/class/kgsl/kgsl-3d0/devfreq/max_freq
   chown system system /sys/class/devfreq/soc:qcom,gpubw/min_freq
   chown system system /sys/devices/soc/soc:qcom,cpubw/devfreq/soc:qcom,cpubw/bw_hwmon/hyst_trigger_count
   chown system system /sys/devices/soc/soc:qcom,cpubw/devfreq/soc:qcom,cpubw/bw_hwmon/hist_memory
   chown system system /sys/devices/soc/soc:qcom,cpubw/devfreq/soc:qcom,cpubw/bw_hwmon/hyst_length
   chown system system /sys/devices/soc/soc:qcom,cpubw/devfreq/soc:qcom,cpubw/min_freq
